body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, rgba(242,87,148,1), rgba(161,64,224,1));
  background: linear-gradient(0deg, rgba(242,87,148,1) 1%, rgba(161,64,224,1) 100%);
  min-height: 100vh;
}

#custom {
  background-color: white;
  border-radius: 10px;
}
