body {
  background: #f3f3f3;
}

main{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.contact-form{
  background: white;
  border-radius: 3px;
  padding: 20px;
  width: 270px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0,.1);
}
.contact-form hr{
  margin: 10px 0;
  width: 100%;
}


.contact-form h2 {
  font-weight: 400;
  width: 100%;
}

.campo{
  padding: 5px;
}

.campo input, .campo textarea{
  border: solid 1px #eee;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: inherit;
  font-family: inherit;
}




.Boton input {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  color: #2b2b2b;
  background: rgb(243, 243, 243);
  border: none;
  margin-top: 10px;
  margin-left: 7px;
  font-size: inherit;
}


#boton:hover{
  cursor: pointer;
}
@media (min-width: 550px) {

.contact-form{
    width: 550px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    max-width: 90%;
    box-sizing: border-box;
  }
  .campo{
    width: 50%;
    box-sizing: border-box;
  }
  .mensaje{
    width: 100%;
  }
}
