body {
  background: #f3f3f3;;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  height: 300px;
  object-fit: cover;
  margin: 2em 0;
  max-width: 100%;
}

.ofertas{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px;
}

.producto-box{
  display: flex;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.producto {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: white;
  border-radius: 3px;
  box-shadow: #e8e7e7 0 0 19px 0px;
}

.producto .imagen{
  height: 75%;
  width: 100%;
  padding: 2px;
  border-bottom: solid rgb(243, 243, 243) 1px;
  box-sizing: border-box;
}

.producto .imagen img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.producto .texto{
  height: 23%;
  display: flex;
  justify-content: center;
  flex-flow: column;

}

.producto .texto .precio{
  margin-left: 15px;
  font-size: 22px;
  color: black;
}

.producto .texto .titulo{
  margin-left: 15px;
  font-size: 17px;
  color: rgb(63, 63, 63);
}

/* Tablets querys */
@media (max-width:1024px){
  .producto-box{
    width: 33%;
  }
}
/* Mobile querys */
@media(max-width:550px){
  .producto-box{
    width: 50%;
    padding: 2px;
  }
  .producto{
    box-shadow: #e8e7e7 0 0 7px 0px;
  }
}